.DS_Store
node_modules/

*.sublime-workspace

export/

.VSCodeCounter

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
Thumbs.db

# Editors
.vscode/
.idea/
*.swp
*.swo

# Build & Temp
dist/
build/
.cache/
.sass-cache/
coverage/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
